@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer @base {
   html {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
         "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
   }
}

body {
   background-color: #acacac10;
}

/* form container  */
.main-container {
   @apply container
   p-4
   mx-auto
   text-2xl
   flex
   flex-col
   items-center;
}

.title {
   @apply text-6xl
   text-red-200
   m-8;
}

.form-wrapper {
   @apply flex
   bg-white
   border
   items-center
   w-full
   max-w-lg
   border-b-2
   border-gray-100
   shadow-xl;
}

.input-icon {
   @apply pl-4
   text-gray-300
   hover:text-green-400;
}

.input-group {
   @apply w-full;
}

.input-text {
   @apply placeholder:italic
   placeholder:text-gray-300
   w-full
   h-14
   p-6
   pl-4
   /* pl-16 */
   outline-none;
}

.input-text-up {
   @apply w-full
    h-12
    outline-none;
}

.tasks-wrap {
   @apply w-full
    min-w-fit
    max-w-lg;
}

.tasks {
   @apply flex
   w-full   
   flex-col
   justify-between;
}

.new-li-wrap {
   @apply flex
   w-full
   
   items-center;
}

.new-li {
   @apply bg-white
   border
   border-gray-100
   shadow-xl
   w-full
   
   h-14
   p-6
   pl-12
   flex
   justify-between
   items-center;
}

.focus-me {
   @apply w-full
   ml-2;
}

.line-through {
   @apply text-gray-300;
}

.bi-x {
   display: none;
}

.new-li:hover .bi-x {
   display: block;
   @apply text-rose-400;
}
.check-mark {
   margin-left: -40px;
   @apply text-gray-300
   hover:text-green-400;
}

.bi-check2-circle {
   @apply text-green-400;
}

.about-wrap {
   @apply text-xs
   text-gray-400
   pt-12;
}

.hide {
   display: none;
}
